html
  head
    title='Profile'
  body
    h2 Profile
    p User name
    input(type='text', value=user.username, disabled)
    p Password
    input(type='password', value=user.password, disabled)
    p Email
    input(type='text', value=user.email, disabled)
    p Name
    input(type='text', value=user.name, disabled)
    p Family name
    input(type='text', value=user.familyName, disabled)
    p Birthday
    input(type='date', value=user.birthday, disabled)